<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <script src=".././JS/common-script.js"></script>

    <title>Dashboard | BidAuc</title>
</head>
<body>
   <!-- Header Sections starts here -->
   <header>
<!-- Dash-Login Menu starts here -->
    <div id="dash-login-menu">
        <a href="../Templates/dashboard-provider.html" id="dashboard-button">Dashboard</a>
        <a href="" id="login-popup-open">Login</a>
      </div>

<!-- Dash-Login Menu ends here -->

    <div class="navbar">
      <div class="logo">
        <img src="../../Assets/Images/BidAuc-logo.png" alt="BidAuc Logo">
      </div>
      <div class="location-dropdown">
        <img src="../../Assets/Images/location-icon.png" alt="" class="location-icon">
        <select>
          <option>User's Location</option>
        </select>
      </div>
      <nav>
        <a href="../Templates/home.html">Home</a>
        <a href="#">About us</a>
      </nav>
      <div class="profile-icon" id="profile-button">
        <img src="../../Assets/Images/user-icon.png" alt="Profile Icon">
      </div>
    </div>
  </header>
  <!-- Header Section ends here -->


    <div class="dashboard-container">
        <div class="dashboard-welcome-container">
            <div class="dash-welcome-text">
              <h2>Welcome back Harshal,</h2>
            <p>Great to see you again! Let's get started on your next job.</p>
            </div>


            <div class="dashboard-tabs">
              <a href="../Templates/dashboard-provider.html" class="tab-link " >Overview</a>
              <a href="../Templates/dashboard-jobs-provider.html" class="tab-link">Jobs</a>
              <a href="../Templates/dashboard-profile-provider.html" class="tab-link" style="background-color: rgb(0, 0, 0,0.15);">Profile</a>
              <a href="../Templates/dashboard-notification-common.html  " class="tab-link">Notifications</a>
          </div>

        </div>
<div class="dashboard-body">


        <div class="sidebar-quote">

          <div id="page-link">

            /dashboard/profile/

          </div>

          <div class="job-tabs">

            <div class="job-link active" target="provider-personal-details-cont"><p>Personal Details</p> <img src="../../Assets/Images/Ellipse.png" alt=""> </div>
            <hr class="job-link-line">

            <div class="job-link" target="provider-license-cont"><p>Licenses</p> <img src="../../Assets/Images/Ellipse.png" alt=""> </div>
        
            <hr class="job-link-line">

            <div class="job-link" target="provider-certification-cont"><p>Certifications</p> <img src="../../Assets/Images/Ellipse.png" alt=""> </div>
           


          </div>

          <!-- <div class="user-profile-cont">

            <div class="user-profile-img">
              <img src="../../Assets/Images/men-profile.jpg" alt="">
              <img class="edit-profile-icon" src="../../Assets/Images/edit-icon.png" alt="">
            </div>
            <h3 class="user-profile-name">
              Harshal Warukar
            </h3>
          </div> -->

          <div class="update-profile-button">
            <p>Update Profile</p>
            <img src="../../Assets/Images/update-icon.png" alt="">
          </div>
          
        </div>

       
        <div class="dashboard-body-side">
          <div class="dashboard--profile-content display-container" id="provider-personal-details-cont">


            <div class="top" style=" margin-bottom: 20px;">
  
              <h2>Profile > Personal Details</h2>
              <div class="user-profile-img">
                  <img src="../../Assets/Images/men-profile.jpg" alt="">
                  <img class="edit-profile-icon" src="../../Assets/Images/edit-icon.png" alt="">
                </div>
              
            </div>
  
            <div class="content">
  
              <div class="profile-detail-cont">
                <label for="">First Name</label>
                <div>
                  <p class="profile-detail-text">Harshal</p>
                  <img src="../../Assets/Images/name-icon.png" alt="">
                </div>
              </div>
              <div class="profile-detail-cont">
                <label for="">Last Name</label>
                <div>
                  <p class="profile-detail-text">Warukar</p>
                  <img src="../../Assets/Images/name-icon.png" alt="">
                </div>
              </div>
              <div class="profile-detail-cont">
  
                <label for="">Phone</label>
                <div>
                  <p class="profile-detail-text">9766629195</p>
                  <img src="../../Assets/Images/phone-icon.png" alt="">
                </div>
              </div>
              <div class="profile-detail-cont">
                <label for="">Email</label>
                <div>
                  <p class="profile-detail-text">harshalwarukar12@gmail.com</p>
                  <img src="../../Assets/Images/email-phone.png" alt="">
                </div>
              </div>
              <div class="profile-detail-cont">
                <label for="">Address</label>
                <div>
                  <p class="profile-detail-text">Plot no. 53</p>
                  <span>line 1</span>
                </div>
              </div>
              <div class="profile-detail-cont">
  
                <div>
                  <p class="profile-detail-text">Ahilya Nagar, Jaitala road, Nagpur</p>
                  <span>line 2</span>
                </div>
              </div>
              <div class="profile-detail-cont">
               
                <div>
                  <p class="profile-detail-text">Behind Rahi Estate</p>
                  landmark
                </div>
              </div>
              <div class="profile-detail-cont">
                <div>
                  <p class="profile-detail-text">Maharashtra</p>
                  <span>state</span>
                </div>
              </div>
              <div class="profile-detail-cont">
                <div>
                  <p class="profile-detail-text">Nagpur</p>
                 <span>city</span>
                </div>
              </div>
              <div class="profile-detail-cont">
  
                <div>
                  <p class="profile-detail-text">440036</p>
                  <span>zipcode</span>
                </div>
              </div>
            </div>
  
  
            <hr style="width: 20%; height: 1px; background-color: #468585; margin-top: 50px; margin-left: 30%;">
              
              
           
          
  
          </div>
          <div class="dashboard--profile-content display-container" id="provider-license-cont">
          
            <div class="top" style=" margin-bottom: 20px;">
              <h2>Profile > Licenses</h2>
            </div>
  
            <div class="content">

              <div class="license-certification-card">

                <div class="top">
                  
                  <h3>&nbsp;- Licenses name</h3>

                <div class="right">
                    <button class="view-license-certificate-btn">View Document <img src="../../Assets/Images/document-icon.png" alt=""></button>
                    <img class="job-dropdown-down" src="../../Assets/Images/dropdown-icon.png" alt="">
                    <img class="job-dropdown-up" src="../../Assets/Images/dropdown-icon.png" alt="">
                  </div>
                </div>

                <div class="licenses-certification-details">
                  <p><strong>Issued By: </strong> State of Maharashtra Contractor licenses Board</p>
                  <p><strong>License no.: </strong> ABCD 1231234</p>
                  <p><strong>Issued On: </strong> April 10, 2023</p>
                  <p><strong>Expires on: </strong> April 10, 2023</p>
                  <p><strong>Verify on: </strong>www.licenseverfication.com</p>
                </div>




              </div>

              <div class="license-certification-card">

                <div class="top">
                  
                  <h3>&nbsp;- Licenses name</h3>
                  <div class="right">
                  
                    <button class="view-license-certificate-btn">View Document <img src="../../Assets/Images/document-icon.png" alt=""></button>
                    <img class="job-dropdown-down" src="../../Assets/Images/dropdown-icon.png" alt="">
                    <img class="job-dropdown-up" src="../../Assets/Images/dropdown-icon.png" alt="">
                  </div>
                </div>

                <div class="licenses-certification-details">
                  <p><strong>Issued By: </strong> State of Maharashtra Contractor licenses Board</p>
                  <p><strong>License no.: </strong> ABCD 1231234</p>
                  <p><strong>Issued On: </strong> April 10, 2023</p>
                  <p><strong>Expires on: </strong> April 10, 2023</p>
                  <p><strong>Verify on: </strong>www.licenseverfication.com</p>
                </div>




              </div>
             
            </div>
  

          </div>
          <div class="dashboard--profile-content display-container" id="provider-certification-cont">
  
  
            <div class="top" style=" margin-bottom: 20px;">
  
              <h2>Profile > Certifications</h2>
             
            </div>
  
            <div class="content">

              <div class="license-certification-card" id="license-card-1">

                <div class="top">
                  
                  <h3>&nbsp;- Certification name</h3>
                      <div class="right">
                    <button class="view-license-certificate-btn">View Document <img src="../../Assets/Images/document-icon.png" alt=""></button>
                    <img class="job-dropdown-down " target="license-card-1" src="../../Assets/Images/dropdown-icon.png" alt="">
                    <img class="job-dropdown-up" src="../../Assets/Images/dropdown-icon.png" alt="">
                  </div>
                </div>

                <div class="licenses-certification-details">
                  <p><strong>Issued By: </strong> State of Maharashtra Contractor licenses Board</p>
                  <p><strong>Certificate ID: </strong> ABCD 1231234</p>
                  <p><strong>Level: </strong> April 10, 2023</p>
                  <p><strong>Verify on: </strong>www.certificateverfication.com</p>
                </div>




              </div>
              <div class="license-certification-card" id="license-card-1">

                <div class="top">
                  
                  <h3>&nbsp;- Certification name</h3>

                  <div class="right">
                    <button class="view-license-certificate-btn">View Document <img src="../../Assets/Images/document-icon.png" alt=""></button>
                    <img class="job-dropdown-down" target="license-card-1" src="../../Assets/Images/dropdown-icon.png" alt="">
                    <img class="job-dropdown-up" src="../../Assets/Images/dropdown-icon.png" alt="">
                  </div>
                </div>

                <div class="licenses-certification-details">
                  <p><strong>Issued By: </strong> State of Maharashtra Contractor licenses Board</p>
                  <p><strong>Certificate ID: </strong> ABCD 1231234</p>
                  <p><strong>Level: </strong> April 10, 2023</p>
                  <p><strong>Verify on: </strong>www.certificateverfication.com</p>
                </div>




              </div>

          
             
            </div>
  
  
            <hr style="width: 20%; height: 1px; background-color: #468585; margin-top: 50px; margin-left: 30%;">
              
              
           
          </div>
        </div>

        
       </div>

      </div>

       
    </div>

   <!-- Footer starts here -->
   <footer>
    <div class="footer-content">
      <div class="footer-upper-left">
        <div class="footer-logo">
          <img src="../../Assets/Images/BidAuc-logo.png" alt="Footer Logo">
        </div>
        <p>Connecting those in <span>need </span> with those who <span> deliver </span></p>

      </div>
      <div class="footer-upper-right">
        
          <a href="../Templates/browse-categories.html">Find a service</a>
          <a href="../Templates/browse-providers.html">Browse Providers</a>
          <a href="../Templates/browse-categories.html">Browse Categories</a>
          <a href="../Templates/browse-categories.html">Post Jobs</a>
          <a href="../Templates/find-jobs.html">Become a Provider</a>
          <a href="../Templates/find-jobs.html">Browse Jobs</a>
       
      </div>
    </div>
    <div class="footer-legal">
      <p>&copy; 2024 BidAuc.com All rights reserved</p>

      <div class="footer-bottom-right">
        <a href="#">Terms of Service</a>
        <a href="#">Privacy</a>
      </div>
    </div>
  </footer>
   <!-- Footer Ends Here -->
      <!-- Login And Register Section Starts here -->

  <div class="login-register-section" id="login-register-section">


    <div class="common-cont log-reg-cont" id="choose-reg-cont">

      <div class="close-log-reg-button" target="choose-reg-cont">
        <img src="../../Assets/Images/close-icon.png" alt="">
      </div>

      <h3 class="log-reg-heading">
        Register As
      </h3>

      <button class="choose-user-button" id="seeker-register-btn">Service Seeker</button>
      <button class="choose-user-button" id="provider-register-btn">Service Provider</button>

      <p>Already have an Account?</p>

      <button id="login-button" class="submit-button">Login</button>
    </div>
    
    <div class="login-cont log-reg-cont" id="login-cont" >

      <div class="close-log-reg-button" target="login-cont">
        <img src="../../Assets/Images/close-icon.png" alt="">
      </div>

      <h3 class="log-reg-heading">
        Log in
      </h3>

      <div class="log-reg-input ">
        <input type="tel"  id="login-phone" placeholder="Your Phone">
        <a href="" id="verify-phone-button" class="opt-button">send opt</a>
      </div>
      
      <div class="log-reg-input">
        <input type="number"  id="login-otp" placeholder="Enter OTP">
        <a href="" id="resend-otp-button" class="opt-button">resend opt</a>
      </div>

      <button id="login-button" class="submit-button">Login</button>


      

    </div>

    <div class=" log-reg-cont" id="register-provider-cont">

      <div class="close-log-reg-button" target="register-provider-cont">
        <img src="../../Assets/Images/close-icon.png" alt="">
      </div>
      

      <h3 class="log-reg-heading" style="font-size: 1.2vw;">
        Register as Service Provider
      </h3>

      <div class="log-reg-input">
        <input type="text"  id="register-name" placeholder="Your Name" >
      </div>

      <div class="log-reg-input">
        <input type="tel"  id="login-phone" placeholder="Your Phone">
        <a href="" id="verify-phone-button" class="opt-button">send opt</a>
      </div>
      
      <div class="log-reg-input">
        <input type="number"  id="login-otp" placeholder="Enter OTP" >
        <a href="" id="resend-otp-button" class="opt-button">resend opt</a>
       
      </div>
      <button id="login-button" class="submit-button">Submit</button>


      


    </div>

    <div class=" log-reg-cont" id="register-seeker-cont">

      <div class="close-log-reg-button" target="register-seeker-cont">
        <img src="../../Assets/Images/close-icon.png" alt="">
      </div>

      <h3 class="log-reg-heading" style="font-size: 1.2vw;">
        Register as Service Seeker
      </h3>

      <div class="log-reg-input">
        <input type="text"  id="register-name" placeholder="Your Name" >
       
      </div>
      <div class="log-reg-input">
        <input type="tel"  id="login-phone" placeholder="Your Phone" >
        <a href="" id="verify-phone-button" class="opt-button">send opt</a>
      </div>
      
      <div class="log-reg-input">
        <input type="number"  id="login-otp" placeholder="Enter OTP" >
        <a href="" id="resend-otp-button" class="opt-button">resend opt</a>
       
      </div>

      <button id="login-button" class="submit-button">Submit</button>



    </div>



    


  </div>

  <!-- Login and Register Section ends here -->
</body>
</html>
