<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <script src="../JS/common-script.js"></script>
    <title>Find Jobs | BidAuc</title>
</head>
<body>

     <!-- Header Section starts here -->
  <header> 

    <!-- Dash-Login Menu starts here -->
    
        <div id="dash-login-menu">
          <a href="../Templates/dashboard-provider.html" id="dashboard-button">Dashboard</a>
          <a href="" id="login-popup-open">Login</a>
        </div>
    
    <!-- Dash-Login Menu ends here -->
    
        <div class="navbar">
          <div class="logo">
            <img src="../../Assets/Images/BidAuc-logo.png" alt="BidAuc Logo">
    
          </div>
          <div class="location-dropdown">
        <img src="../../Assets/Images/location-icon.png" alt="" class="location-icon">

            <select>
              <option>User's Location</option>
            </select>
          </div>
          <nav>
            <a href="../Templates/home.html">Home</a>
            <a href="#">About us</a>
          </nav>
          <div class="profile-icon" id="profile-button">
            <img src="../../Assets/Images/user-icon.png" alt="Profile Icon">
    
          </div>
        </div>
      </header>
      
      <!-- Header Section ends here -->

    
    

    <!-- Find Jobs Section -->
    <section class="find-jobs container">
      <div class="search-container">
        <h1>Find Jobs</h1>

            <div class="search-bar">
                <input type="text" placeholder="Search Jobs">
                <img src="../../Assets/Images/search-icon.png" alt="">
                
            </div>
            <div class="sort-options">
                <span>Sort by</span>
                <img src="../../Assets/Images/sort-icon.png" alt="Sort">
            </div>
            
        </div>

        <!-- Job Cards -->

        <div class="job-card-container">
        <div class="job-card" id="job1-card">
           <div class="job-card-top">
            <h3>Bathroom Tap Repair</h3>
            <button class="place-bid-button">Place a bid</button>
           </div>

           <div class="job-card-mid">

            <div class="badge-new">NEW</div>
            <span class="time-posted">Posted 11 hours ago</span>

          </div>

            <p class="job-description">I need a skilled plumber to repair a leaking bathroom tap. The tap drips constantly, and I believe the washer or valve may need replacement. Looking for someone with experience in tap repairs who can complete the job quickly and efficiently.</p>
            <div class="job-details">
              <img src="../../Assets/Images/categories-icon.png" alt="">
              <strong>Category :</strong> 
              <span>Plumbing</span>
            </div>
            <button  class="learn-more-job-button" target="job1-card"><span> Learn more </span>
              <img src="../../Assets/Images/down-arrow.png" alt=""></button>
            
                <div class="job-details">
                  <img src="../../Assets/Images/user-icon.png" alt="">
                  <strong>Service Seeker Name :</strong> 
                  <span>Praful Wasnik</span>
                </div>
                <div class="job-details">
                  <img src="../../Assets/Images/location-icon.png" alt="">
                  <strong>Location :</strong> 
                  <span>Jaitala Road, Nagpur, Maharashtra</span>
                </div>

                <div class=" job-images-cont" >
                  <img src="../../Assets/Images/image-icon.png" alt="">
                <strong>Images :</strong> 
                <img src="https://www.shutterstock.com/image-photo/water-tap-faucet-flow-bathroom-600nw-1833087568.jpg" class="job-images" alt="Tap Repair">
                <img src="https://www.shutterstock.com/image-photo/water-tap-faucet-flow-bathroom-600nw-1833087568.jpg" class="job-images" alt="Tap Repair">
              </div>

                <div class="job-details">
                  <img src="../../Assets/Images/information-icon-png.png" alt="">
                  <strong>Additional Requirements:</strong> <span>Availability during weekends or evenings is preferred. Experience with similar tap models is highly desirable.</span>
                </div>
                
            <button  class="learn-less-job-button" target="job1-card"><span> Learn less </span>
              <img src="../../Assets/Images/up-arrow.png" alt=""></button>
            </div>
        <div class="job-card" id="job2-card">
           <div class="job-card-top">
            <h3>Bathroom Tap Repair</h3>
            <button class="place-bid-button">Place a bid</button>
           </div>

           <div class="job-card-mid">

            <div class="badge-new">NEW</div>
            <span class="time-posted">Posted 11 hours ago</span>

          </div>

            <p class="job-description">I need a skilled plumber to repair a leaking bathroom tap. The tap drips constantly, and I believe the washer or valve may need replacement. Looking for someone with experience in tap repairs who can complete the job quickly and efficiently.</p>
            <div class="job-details">
              <img src="../../Assets/Images/categories-icon.png" alt="">
              <strong>Category :</strong> 
              <span>Plumbing</span>
            </div>
            <button  class="learn-more-job-button" target="job2-card"><span> Learn more </span>
              <img src="../../Assets/Images/down-arrow.png" alt=""></button>
            
                <div class="job-details">
                  <img src="../../Assets/Images/user-icon.png" alt="">
                  <strong>Service Seeker Name :</strong> 
                  <span>Praful Wasnik</span>
                </div>
                <div class="job-details">
                  <img src="../../Assets/Images/location-icon.png" alt="">
                  <strong>Location :</strong> 
                  <span>Jaitala Road, Nagpur, Maharashtra</span>
                </div>

                <div class=" job-images-cont" >
                  <img src="../../Assets/Images/image-icon.png" alt="">
                <strong>Images :</strong> 
                <img src="https://www.shutterstock.com/image-photo/water-tap-faucet-flow-bathroom-600nw-1833087568.jpg" class="job-images" alt="Tap Repair">
                <img src="https://www.shutterstock.com/image-photo/water-tap-faucet-flow-bathroom-600nw-1833087568.jpg" class="job-images" alt="Tap Repair">
              </div>

                <div class="job-details">
                  <img src="../../Assets/Images/information-icon-png.png" alt="">
                  <strong>Additional Requirements:</strong> <span>Availability during weekends or evenings is preferred. Experience with similar tap models is highly desirable.</span>
                </div>
                
            <button  class="learn-less-job-button" target="job2-card"><span> Learn less </span>
              <img src="../../Assets/Images/up-arrow.png" alt=""></button>
            </div>

        </div>

        
      </div>

        

        <!-- Load More Jobs Button -->
        <button class="load-more-jobs">Load more Jobs</button>
    </section>

      <!-- Featured Categories -->
  <section class="featured-categories">

    <div class="featured-categories-top">
      <h2 class="heading1">Featured Categories</h2>
      <a class="explore-more-button button1" href="../Templates/browse-categories.html">Explore more categories</a>
    </div>

    <div class="categories">
      <div class="category-item">
        <img src="../../Assets/Images/Electrician.jpg" alt="Electrical Works">
        <p>Electrical Works</p>
      </div>
      <div class="category-item">
        <img src="../../Assets/Images/plumbing.webp" alt="Electrical Works" alt="Plumbing">
        <p>Plumbing</p>
      </div>
      <div class="category-item">
        <img src="../../Assets/Images/sofa-cleaning.jpeg" alt="Electrical Works" alt="Sofa Cleaning">
        <p>Sofa Cleaning</p>
      </div>
      <div class="category-item">
        <img src="../../Assets/Images/Electrician.jpg" alt="Electrical Works" alt="Electronics">
        <p>Electronics</p>
      </div>
      <div class="category-item">
        <img src="../../Assets/Images/printing-works-profile.jpeg" alt="Electrical Works" alt="Electronics">
        <p>Printing</p>
      </div>
      
    
      
    </div>


  </section>




    <!-- Footer starts here -->
    <footer>
      <div class="footer-content">
        <div class="footer-upper-left">
          <div class="footer-logo">
            <img src="../../Assets/Images/BidAuc-logo.png" alt="Footer Logo">
          </div>
          <p>Connecting those in <span>need </span> with those who <span> deliver </span></p>
  
        </div>
        <div class="footer-upper-right">
          
            <a href="../Templates/browse-categories.html">Find a service</a>
            <a href="../Templates/browse-providers.html">Browse Providers</a>
            <a href="../Templates/browse-categories.html">Browse Categories</a>
            <a href="../Templates/browse-categories.html">Post Jobs</a>
            <a href="../Templates/find-jobs.html">Become a Provider</a>
            <a href="../Templates/find-jobs.html">Browse Jobs</a>
         
        </div>
      </div>
      <div class="footer-legal">
        <p>&copy; 2024 BidAuc.com All rights reserved</p>
  
        <div class="footer-bottom-right">
          <a href="#">Terms of Service</a>
          <a href="#">Privacy</a>
        </div>
      </div>
    </footer>
     <!-- Footer Ends Here -->
  

                <!-- Login And Register Section Starts here -->

  <div class="login-register-section" id="login-register-section">


    <div class="common-cont log-reg-cont" id="choose-reg-cont">

      <div class="close-log-reg-button" target="choose-reg-cont">
        <img src="../../Assets/Images/close-icon.png" alt="">
      </div>

      <h3 class="log-reg-heading">
        Register As
      </h3>

      <button class="choose-user-button" id="seeker-register-btn">Service Seeker</button>
      <button class="choose-user-button" id="provider-register-btn">Service Provider</button>

      <p>Already have an Account?</p>

      <button id="login-button" class="submit-button">Login</button>
    </div>
    
    <div class="login-cont log-reg-cont" id="login-cont" >

      <div class="close-log-reg-button" target="login-cont">
        <img src="../../Assets/Images/close-icon.png" alt="">
      </div>

      <h3 class="log-reg-heading">
        Log in
      </h3>

      <div class="log-reg-input ">
        <input type="tel"  id="login-phone" placeholder="Your Phone">
        <a href="" id="verify-phone-button" class="opt-button">send opt</a>
      </div>
      
      <div class="log-reg-input">
        <input type="number"  id="login-otp" placeholder="Enter OTP">
        <a href="" id="resend-otp-button" class="opt-button">resend opt</a>
      </div>

      <button id="login-button" class="submit-button">Login</button>


      

    </div>

    <div class=" log-reg-cont" id="register-provider-cont">

      <div class="close-log-reg-button" target="register-provider-cont">
        <img src="../../Assets/Images/close-icon.png" alt="">
      </div>
      

      <h3 class="log-reg-heading" style="font-size: 1.2vw;">
        Register as Service Provider
      </h3>

      <div class="log-reg-input">
        <input type="text"  id="register-name" placeholder="Your Name" >
      </div>

      <div class="log-reg-input">
        <input type="tel"  id="login-phone" placeholder="Your Phone">
        <a href="" id="verify-phone-button" class="opt-button">send opt</a>
      </div>
      
      <div class="log-reg-input">
        <input type="number"  id="login-otp" placeholder="Enter OTP" >
        <a href="" id="resend-otp-button" class="opt-button">resend opt</a>
       
      </div>
      <button id="login-button" class="submit-button">Submit</button>


      


    </div>

    <div class=" log-reg-cont" id="register-seeker-cont">

      <div class="close-log-reg-button" target="register-seeker-cont">
        <img src="../../Assets/Images/close-icon.png" alt="">
      </div>

      <h3 class="log-reg-heading" style="font-size: 1.2vw;">
        Register as Service Seeker
      </h3>

      <div class="log-reg-input">
        <input type="text"  id="register-name" placeholder="Your Name" >
       
      </div>
      <div class="log-reg-input">
        <input type="tel"  id="login-phone" placeholder="Your Phone" >
        <a href="" id="verify-phone-button" class="opt-button">send opt</a>
      </div>
      
      <div class="log-reg-input">
        <input type="number"  id="login-otp" placeholder="Enter OTP" >
        <a href="" id="resend-otp-button" class="opt-button">resend opt</a>
       
      </div>

      <button id="login-button" class="submit-button">Submit</button>



    </div>



    


  </div>

  <!-- Login and Register Section ends here -->
