 @import url('https://fonts.googleapis.com/css2?family=NTR&family=Outfit:wght@100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

 /* font-family: "Outfit", sans-serif; */
 /* font-family: "NTR", sans-serif; */



 /* General Styles */


 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 body {
   font-family: "NTR", sans-serif;
   line-height: 1.6;
   position: relative;
   transition: filter 0.3s ease;
 }


 .blur {
   filter: blur(5px);
 }

 a {
   text-decoration: none;
   color: inherit;
 }

 /* Header Section */

 .navbar {

   display: flex;
   align-items: center;
   background-color: #fff;
   padding-left: 20vw;
   height: 12vh;


 }

 .logo {

   height: 50px;
   margin-right: 30px;
   display: flex;
   align-items: center;
   justify-content: center;


 }

 .logo img {
   height: 69%;
   width: 80%;
   /* border: 1px solid black; */

 }

 .location-dropdown {

   border: 1px solid #468585;
   border-radius: 5px;
   display: flex;
   align-items: center;
   width: fit-content;
   padding: 0px 10px;
   gap: 30px;

 }

 .location-dropdown select {
   /* padding: px; */
   width: fit-content;
   border: none;
   background-color: transparent;
   outline: none;
   width: 15vw;
   font-size: 1.2vmax;
   font-family: "NTR", sans-serif;

 }

 .location-icon {

   width: 25px;
   height: 25px;
   opacity: 0.70;

 }

 nav {

   margin-left: 2vw;
   width: 15vw;
   display: flex;
   justify-content: center;
   gap: 30px;

 }

 nav a {
   /* margin: 0 15px; */
   /* font-weight: b; */
   width: fit-content;
   font-size: 1.5vmax;
   color: rgb(0, 0, 0, 0.7);
   cursor: pointer;


 }

 .profile-icon {

   /* border: 1px solid green; */
   margin-left: 25vw;
   cursor: pointer;
 }

 .profile-icon img {

   height: 30px;

 }



 /* dash-login menu css starts here */

 #dash-login-menu {

   position: absolute;
   right: 25px;
   display: flex;
   background-color: #50B498;
   width: fit-content;
   flex-direction: column;
   width: 150px;
   height: 90px;
   border-radius: 5px;
   transform: translateY(-150%);
   animation: ease-in-out;
   transition: transform 0.5s ease;


 }

 #dash-login-menu a {

   /* padding: 10px; */
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 50%;
   color: white;

 }



 /* #dashboard-button {

   border-width: 0px 0px 0.1px 0px;
   border-color: white;
   border-style: solid;
 } */


 /* dash-login menu css ends here */


 /* Hero Section */
 .hero {
   display: flex;
   justify-content: space-between;

   /* border: 1px solid black; */
   height: 85vh;
   align-items: center;
   padding-right: 10vw;
   gap: 5vw;
 }

 .hero-content {

   /* border: 1px solid red;  */
   width: 60%;
   display: flex;
   align-items: flex-start;
   gap: 20px;
   flex-direction: column;
   justify-content: center;
   padding-left: 10vw;
   gap: 4vh;

 }

 .hero-content h1 {
   font-size: 4.3vw;
   max-width: 650px;
   font-family: "Outfit", sans-serif;
   color: rgb(0, 0, 0, 0.7);
   line-height: 0.9;
   font-weight: 500;
   letter-spacing: 1px;
 }

 .highlight {

   color: #468585;

 }

 .hero-buttons {

   margin-top: 5px;
   display: flex;
   gap: 20px;

 }

 .hero-buttons a {


   border-radius: 50px;
   border: none;
   background-color: #54A6A6;
   color: white;
   cursor: pointer;
   font-weight: 300;
   font-family: "NTR", sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 15vw;
   font-size: 1.5vw;

 }


 .hero-buttons a:nth-child(2) {

   border: 3px solid #54A6A6;
   background-color: transparent;
   color: #54A6A6;
   padding: 1px 20px;

 }

 .hero-images {

   /* border: 1px solid green; */
   width: 30%;
   height: 32vw;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;


 }

 .hero-images img {

   width: 11vw;
   height: 7vw;
   margin: 2% 2%;
   object-fit: cover;
   transition: transform 0.3s ease;
   /* border: 1px solid #2AB4B3; */
   border-radius: 10px;


 }

 /* Stats Section */
 .stats {

   display: flex;
   justify-content: space-around;
   background-color: #54A6A6;
   padding: 5vh 0;
   text-align: center;
   margin-bottom: 10vh;


 }

 .stat-item {

   display: flex;
   flex-direction: column;

 }

 .stats .stat-item h2 {
   font-size: 6vw;
   font-family: "Amaranth", sans-serif;
   color: white;
   /* width: fit-content; */
   height: fit-content;
   margin-top: -4vh;

 }

 .stat-item p {

   font-family: "Outfit", sans-serif;
   color: white;
   font-size: 1.5vw;
   /* margin-right: 5vw; */
   margin-top: -2.4vw;

 }




 /* Featured Categories */
 .featured-categories {
   text-align: center;
   display: flex;
   flex-direction: column;
   height: fit-content;
   margin-top: 10vh;

 }

 .featured-categories-top {

   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 50px;
   height: 12vh;



 }


 .heading1 {

   font-size: 3.5vw;
   color: rgb(0, 0, 0, 0.7);
   font-family: "NTR", sans-serif;
   font-weight: 500;

 }

 .button1 {

   padding: 10px 20px;
   border: 1px solid #54A6A6;
   background: none;
   cursor: pointer;
   color: #54A6A6;
   font-size: 1.3vw;
 }


 .categories {

   padding: 5vh;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: fit-content;
   flex-wrap: wrap;
   gap: 2vw 3vw;

 }

 .category-item {
   width: 18vw;
   height: 18vw;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   padding: 1vh 1vw;
   /* border: 1px solid blue; */
   gap: 10px;
   margin-bottom: 2vh;
   cursor: pointer;


 }

 .category-item img {

   border-radius: 10px;
   width: 100%;
   min-height: 90%;

 }

 .category-item p {

   color: rgb(0, 0, 0, 0.7);
   font-size: 1.5vw;
   font-family: "NTR", sans-serif;


 }


 /* Top Providers */
 .top-providers {

   display: flex;
   flex-direction: column;
   /* height: 55vh; */
   /* border: 1px solid green; */
   padding: 5vh 0;
   margin-top: 10vh;

 }

 .providers-cont {

   display: flex;
   flex-direction: column;
   padding: 6vh 50vh;
   gap: 35px;

 }

 .provider {
   display: flex;
   justify-content: space-between;
   /* background-color: #E4F0F0; */
   /* padding: 20px; */
   border-radius: 5px;
   border: 1px solid #54A6A6;
   height: 20vw;
   width: fit-content;

 }

 .provider:nth-child(even) {

   flex-direction: row-reverse;
 }

 .provider-details-left {

   display: flex;
   flex-direction: column;
   gap: 1vw;
   padding: 1.3vw;
   width: 25vw;

 }

 .provider-details-left img {
   height: 50%;
   width: 50%;
   border-radius: 5px;
 }

 .provider-name {

   font-size: 2vw;
   color: rgb(0, 0, 0, 0.7);
   font-weight: 400;

 }

 .providers-left-bottom {

   display: flex;
   height: 30%;
   align-items: center;
   gap: 20px;

 }

 .view-profile-btn {

   width: 10vw;
   height: 3vw;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   border: 0.5px solid #468585;
   cursor: pointer;
   background: transparent;
   font-size: 1.5vw;



 }

 .view-profile-btn:hover {

   transform: scale(1.02);
 }

 .rating {

   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
   height: 100%;
   gap: 1vw;
   width: 40%;
   line-height: 1;

 }

 .rating img {

   width: 1.5vw;
   height: 1.5vw;

 }

 .rating p {

   font-size: 1.5vw;
   /* border: 1px solid red; */

 }

 .rating .service-rating-p {

   font-size: 1.3vw;
   color: black;
   font-weight: 500;
   margin-top: -0.8vw;

 }

 .provider-details-hidden {

   display: none;

 }

 .provider-details-right {

   background-color: rgb(84, 166, 166, 0.6);
   width: 25vw;
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 10px 20px;

 }




 .provider-details-right p {

   display: flex;
   flex-direction: column;
   font-size: 1.5vw;

 }


 .provider-details-right p strong {

   font-size: 2vw;
   color: rgb(0, 0, 0, 0.6);
   margin-bottom: -10px;

 }



 /* Testimonials Section */
 .testimonials {
   padding: 50px;
   background-color: #F5F7F7;
   text-align: center;
 }

 .testimonial {
   background-color: #E4F0F0;
   padding: 20px;
   margin: 20px 0;
 }


 /* Browse Category Page CSS Starts here */

 /* Browse Categories Section */
 .browse-categories {
   /* padding: 40px; */
 }



 /* Dashboard-Seeker CSS starts from here */

 .dashboard-container {

   padding: 20px 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;

 }

 .dashboard-welcome-container {

   background-color: #86c1c1;
   padding: 2vw 0vw 1.2vw 0vw;
   border-radius: 10px;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* gap: 5vw; */
   width: 100%;
   height: 20vw;
   justify-content: space-between;


 }

 .dash-welcome-text {

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: fit-content;
   height: 10vh;
   line-height: 1.1;

 }

 .dash-welcome-text h2 {
   color: #333;
   font-size: 3vw;
   font-weight: 500;
 }

 .dash-welcome-text p {
   color: #333;
   font-size: 1.5vw;
   min-width: fit-content;
   max-width: 35vw;
   text-align: left;

 }


 /* Tab Navigation */
 .dashboard-tabs {
   display: flex;
   justify-content: center;
   /* margin-top: 3vw; */
   height: 2.5vw;
   width: fit-content;
   gap: 1.5vw;
   background-color: #0000001a;
   border-radius: 10px;


 }

 .dashboard-tabs .tab-link {

   padding: 0 3vw;
   border: none;
   background-color: transparent;
   border-radius: 10px;
   color: rgb(255, 255, 255, 0.9);
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5vw;
   font-weight: 200;
   height: 100%;



 }


 .dashboard-body {

   display: flex;
   width: 100%;
   gap: 20px;
 }

 .dashboard-body-side {

   display: flex;
   flex-direction: column;
 }

 /* Sidebar Quote Section */
 .sidebar-quote {

   background-color: rgb(246, 251, 122, 0.3);
   color: rgb(0, 0, 0, 0.75);
   width: 20vw;
   height: 28vw;
   margin-left: 20px;
   margin-top: -3.8vw;
   border-radius: 6px;
   display: flex;
   align-content: center;
   justify-content: center;
   flex-direction: column;
   position: relative;


 }

 #page-link {

   position: absolute;
   top: 15px;
   left: 20px;
   font-size: 1.1vw;
 }

 .sidebar-quote p {

   font-style: italic;
   font-size: 2vw;
   text-align: center;
   line-height: 2vw;
   margin: auto 2vw;

 }

 .dashboard-content {

   display: flex;
   justify-content: space-around;
   margin-top: 2vw;
   width: 75vw;
   flex-wrap: wrap;
   /* margin-left: 20px; */
   /* gap: 10px; */


 }


 /* Jobs  Overview CSS  */
 .stat-card {

   background-color: rgb(248, 249, 250, 0.1);
   border: 1px solid #ddd;
   /* padding: 20px; */
   text-align: center;
   border-radius: 10px;
   width: 23vw;
   height: 11vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* padding-bottom: 10px; */
   /* border: 1px solid red; */
   gap: 1vw;


 }

 .stat-card .upper {

   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   margin: 15px;

 }

 .stat-card .upper h4 {

   font-size: 2vw;
   color: rgb(0, 0, 0, 0.6);
 }

 .stat-card .lower {

   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
   font-weight: 500;
   padding-left: 10px;
   width: 90%;
 }

 .stat-card .lower p {

   font-size: 3vw;

 }

 .stat-btn-img {

   width: 60px;
   height: 60px;
   opacity: 0.7;
   margin-top: 10px;

 }

 .stat-btn {

   width: 90%;
   height: 50px;
   margin-top: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   background-color: rgb(80, 180, 152, 0.7);
   border-radius: 10px;
   font-size: 1.5vw;
   

 }



 .stat-card-wide {

   background-color: rgb(248, 249, 250, 0.1);
   padding: 20px;
   text-align: center;
   border-radius: 10px;
   width: 35.5vw;
   height: 11vw;
   border: 1px solid #ddd;
   margin-top: 1.8vw;
   display: flex;
   flex-direction: column;
   gap: 20px;


 }

 .stat-card-wide .upper {

   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;

 }

 .stat-card-wide .upper h4 {

   font-size: 2vw;
   color: rgb(0, 0, 0, 0.6);

 }

 .stat-card-wide .upper img {

   width: 40px;
   height: 40px;
 }

 .stat-card-wide .lower {

   display: flex;
   justify-content: flex-start;
   align-items: center;
   font-weight: 500;
   width: 90%;

 }

 .stat-card-wide .lower p {

   font-size: 2vw;

 }


 /* Dashboard Jobs CSS */
 .job-tabs {

   display: flex;
   flex-direction: column;
   gap: 1vw;

 }

 .job-link {

   display: flex;
   align-items: center;
   justify-content: flex-start;
   width: 100%;



 }

 .job-link p {

   font-size: 1.6vw;
   font-weight: 500;
   cursor: pointer;
 }

 .job-link img {

   width: 0.6vw;
   height: 0.6vw;
   display: none;



 }

 .job-tabs .active img {

   display: block;

 }

 .job-link-line {

   width: 30px;
   height: 1px;
   background-color: black;
   margin-left: 2.1vw;

 }

 .dashboard-job-content {

   width: 80vw;
   display: flex;
   flex-direction: column;
   gap: 0px;
   align-items: flex-start;
   margin-top: 20px;
   height: fit-content;

 }


 .job-detail-card {

   width: 95%;
   display: flex;
   flex-direction: column;
   margin: 10px;
   justify-content: flex-start;
   height: auto;
   /* Let the content decide the height */
   max-height: 8vh;
   /* Initial collapsed height */
   overflow: hidden;
   background-color: rgb(84, 166, 166, 0.6);
   border-radius: 5px;
   padding-top: 10px;
   transition: max-height 0.6s ease;
   /* Transition applied to max-height */

 }

 .job-detail-card .top {

   display: flex;
   justify-content: space-between;
   margin-bottom: 10px;

 }


 .job-detail-card .top .right {

   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px 10px;
 }

 .job-name {

   font-size: 1.5vw;

 }

 .job-dropdown-down {

   width: 15px;
   height: 15px;
   cursor: pointer;
   margin: 8px 10px;


 }


 .job-dropdown-up {

   width: 15px;
   height: 15px;
   cursor: pointer;
   margin: 8px 10px;
   transform: rotate(180deg);
   transition: transform 0.5s ease;
   display: none;

 }

 .job-details-description {
   border: 1px solid #333;
   position: relative;
   border-radius: 10px;
   margin-top: 10px;


 }

 .job-description-heading {

   position: absolute;
   top: 0;
   left: 0;
   background-color: rgb(84, 166, 166, 0.6);
   padding: 5px 40px;
   border-radius: 10px 0px 10px 0px;
   color: rgb(0, 0, 0, 0.75);

 }

 .job-details-description p {

   font-size: 1.3vw;
   margin-top: 40px;
   padding: 20px;

 }

 .job-detail-card .mid {

   width: 100%;
   display: flex;
   gap: 10px;
   margin-top: 10px;

 }

 .job-detail-details {

   width: 50%;
   border: 1px solid #333;
   height: 30vh;
   position: relative;
   border-radius: 10px;

 }

 .job-detail-details div:nth-child(2) {

   margin-top: 50px;
 }


 .job-detail-details div {

   display: flex;
   gap: 5px;
   font-size: 1.3vw;
   margin-left: 20px;


 }


 .job-detail-details div strong {

   color: rgb(136, 136, 136, 0.9);
   font-weight: 500;
 }

 .job-images-cont {

   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   border-radius: 10px;


 }

 .job-images {

   width: 15vw;
   height: 10vw;
   border-radius: 10px;
   margin-right: 10px;
   /* margin-top: 20px; */
   /* border: 1px solid red; */

 }

 .job-detail-card .bottom {

   width: 100%;
   display: flex;
   gap: 20px;
   justify-content: center;
   margin: 10px;


 }

 .job-detail-card .bottom button {

   padding: 10px 30px;
   background-color: #50B498;
   color: white;
   border-radius: 5px;
   border: none;
   cursor: pointer;

 }



 /*  Dashboard-overview-seeker css Ends here */


 /* Dashboard-profile-seeker CSS starts here */


 .user-profile-cont {

   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 30vw;
   margin-top: 7vw;
   padding: 2vw;
   border-radius: 10px;
   flex-direction: column;
   gap: 2vw;


 }

 .user-profile-img {

   width: 15vw;
   height: 15vw;
   background-color: rgb(70, 133, 133, 0.1);
   border-radius: 5px;
   position: relative;

 }

 .user-profile-img img {

   width: 100%;
   height: 100%;
   border-radius: 5px;
 }


 .user-profile-img .edit-profile-icon {

   position: absolute;
   background-color: #468585;
   width: 3vw;
   height: 3vw;
   border-radius: 50%;
   bottom: -10px;
   right: -10px;
   padding: 5px;
   display: flex;


 }



 #profile-picture-upload {

   z-index: 1000;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   border-radius: 50%;
   opacity: 0;

 }

 .user-profile-name {

   font-size: 1.8vw;
   font-weight: 500;
 }


 .update-profile-button {

   width: 100%;
   height: 50px;
   display: flex;
   align-items: center;
   border: 2px solid #468585;
   position: absolute;
   bottom: -70px;
   border-radius: 5px;
   justify-content: center;
   cursor: pointer;


 }

 .update-profile-button p {

   font-size: 1.9vw;
   color: rgb(0, 0, 0, 0.75);


 }

 .update-profile-button img {

   width: 25px;
   height: 25px;
   opacity: 0.75;
   margin-left: -20px;
   margin-top: -5px;

 }

 .dashboard--profile-content {

   width: 75vw;
   flex-direction: column;
   padding-left: 3vw;

 }

 .display-container {

   display: none;


 }

 .active-container {

   display: flex;
 }

 .display-content {

   display: none;

 }

 .dashboard--profile-content .top {

   width: 100%;
   padding: 1vw 0px;
   height: fit-content;
   color: #444;
   display: flex;
   justify-content: space-between;
   width: 60vw;
   align-items: flex-end;
   margin-top: 2vw;

 }

 .dashboard--profile-content .top h2 {

   font-size: 2.3vw;
   font-weight: 500;

 }

 .dashboard--profile-content .content {

   display: flex;
   flex-wrap: wrap;
   gap: 2vw 2vw;

 }

 .dashboard--profile-content .content .profile-detail-cont {

   display: flex;
   flex-direction: column;
   width: 90%;


 }

 .dashboard--profile-content .content .profile-detail-cont label {

   font-size: 1.3vw;



 }

 .dashboard--profile-content .content .profile-detail-cont:nth-child(-n+2) {

   width: 43.5%;


 }

 .dashboard--profile-content .content .profile-detail-cont:nth-last-child(-n+2) {

   width: 43.5%;


 }

 .dashboard--profile-content .content .profile-detail-cont div {

   display: flex;
   border: 2px solid #468585;
   align-items: center;
   padding: 0.5vw 1vw;
   border-radius: 5px;
   width: 100%;
   justify-content: space-between;
 }







 .dashboard--profile-content .content .profile-detail-cont div p {

   font-size: 1.5vw;

 }

 .dashboard--profile-content .content .profile-detail-cont div img {

   width: 2vw;
   height: 2vw;
   opacity: 0.6;

 }

 .license-certification-card {

   display: flex;
   width: 65vw;
   flex-direction: column;
   justify-content: flex-start;
   border-radius: 10px;
   background-color: rgb(84, 166, 166, 0.7);
   height: auto;
   max-height: 8vh;
   /* Initial collapsed height */
   overflow: hidden;
   transition: max-height 0.6s ease;
   /* Transition applied to max-height */
   padding: 0.1vw;



 }


 .license-certification-card .top {

   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 10px;
   height: 8vh;
   border-radius: 5px 5px 0px 0px;
   margin-top: 0;



 }

 .license-certification-card .top h3 {

   font-size: 1.5vw;
   font-weight: 500;
   color: black;

 }

 .license-certification-card .top .right {

   display: flex;
   align-items: center;
   width: fit-content;
   gap: 20px;

 }



 .view-license-certificate-btn {

   background-color: #54A6A6;
   padding: 5px 10px;
   display: flex;
   align-items: center;
   color: white;
   border: none;
   gap: 5px;
   border-radius: 5px;
   cursor: pointer;


 }

 .view-license-certificate-btn img {

   width: 20px;
   height: 20px;
 }


 .licenses-certification-details {

   width: 100%;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   padding: 10px 20px;
   gap: 5px;
   border-radius: 0px 0px 5px 5px;
   border: 1px solid rgb(84, 166, 166, 0.7);


 }


 .licenses-certification-details p {

   font-size: 1.5vw;

 }

 .licenses-certification-details p strong {

   font-weight: 500;
   color: #444;
 }



 /* Dashboard-profile-seeker CSS ends here */



 /* Dashboard-notification page css starts here */


 .notification-cont {

   border-width: 0px 1px 1px 0px;
   border-color: #444;
   border-style: solid;
   display: flex;
   gap: 5px;
   width: 1070px;
   align-items: center;
   padding: 10px 10px;



 }

 .notification-text {

   font-size: 1.3vw;
   display: block;

 }

 .notification-learMore-btn {

   background-color: rgb(84, 166, 166, 0.9);
   padding: 5px 10px;
   font-size: 1vw;
   border: none;
   border-radius: 5px;
   color: white;
   cursor: pointer;
   margin: 0px 10px 0px 110px;

 }

 .notification-delete-btn {

   background-color: rgb(84, 166, 166, 0.9);
   display: flex;
   border: none;
   padding: 5px;
   border-radius: 5px;
   cursor: pointer;


 }

 .notification-delete-btn img {

   width: 19px;
   height: 19px;
 }

 /* Dashboard-notification page css ends here */




 /* Job Posting Page css Starts here */

 /* Job Category Image Panel */


 .job-posting-section {

   display: flex;
   border: 1px solid red;
   padding: 40px 70px;
   height: 120vh;
   gap: 30px;


 }

 .job-posting-left-panel {

   height: 100%;
   width: 30%;
   border-width: 0px 1px 0px 0px;
   border-color: black;
   border-style: dashed;
   /* border: 1px solid pink; */
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding-left: 20px;


 }

 .category-image {
   width: 90%;
   height: auto;
   border-radius: 8px;
   margin-right: 20px;
   height: 40%;

 }

 .category-image img {

   width: 100%;
   height: 100%;
   border-radius: 10px;

 }

 /* Job Details Form */

 .job-form {

   display: flex;
   flex-direction: column;
   gap: 15px;
   width: 60%;
   gap: 25px;

 }

 .category-heading {

   font-size: 2.5vw;
   font-weight: 500;
   color: rgb(0, 0, 0, 0.7);

 }


 .job-heading {

   color: rgb(0, 0, 0, 0.7);
   font-size: 2vw;
   font-weight: 400;
 }

 .job-form input[type="text"],
 .job-form input[type="file"],

 .job-form textarea {

   width: 100%;
   padding: 10px;
   border: 1px solid #468585;
   border-radius: 8px;
   font-size: 1rem;
   height: 50px;

 }

 .job-form textarea {

   resize: none;
   height: 150px;

 }

 .job-form button {

   width: 200px;
   background-color: rgb(70, 133, 133, 0.8);
   color: white;
   border: none;
   padding: 12px 20px;
   border-radius: 8px;
   font-size: 1rem;
   cursor: pointer;
   margin: auto;

 }

 .job-form button:hover {

   background-color: rgb(70, 133, 133, 0.9);

 }

 /* Related Categories Section */
 .related-categories {
   display: flex;
   gap: 20px;
   margin: 40px 0;
 }

 .related-categories img {
   width: 150px;
   height: 100px;
   border-radius: 8px;
 }

 .related-categories .category-item {
   text-align: center;
   font-size: 1rem;
   color: #333;
 }





 /* Job Posting Page css Ends here */


 /* Browse-providers css starts here */


 .browse-providers {

   margin-top: 5vh;
 }

 /* Search Bar and Sorting */

 .search-container {

   display: flex;
   /* border: 1px solid red; */
   justify-content: space-between;
   padding: 20px 40px;
   height: 12vh;
   align-items: center;
   margin-top: 5vh;
 }

 .search-container h1 {

   font-size: 3vw;
   color: rgb(0, 0, 0, 0.75);
   font-weight: 500;

 }


 .search-bar {

   border: 1px solid #468585;
   width: 25vw;
   height: 7vh;
   display: flex;
   justify-content: space-between;
   border-radius: 8px;
   padding: 5px 10px;
   align-items: center;

 }

 .search-bar input {

   border: none;
   outline: none;
   font-size: 1vw;
   /* padding-left: 5px; */
 }

 .search-bar img {

   width: 25px;
   height: 25px;
   opacity: 0.75;
 }


 .search-bar input:hover {

   border: none;
   outline: none;
 }

 .sort-options {

   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
 }

 .sort-options span {
   font-size: 1.3vw;
   color: rgb(0, 0, 0, 0.75);
 }

 .sort-options img {
   width: 20px;
   height: 20px;
 }


 /* Provider Cards */

 .providers-grid {

   display: flex;
   flex-wrap: wrap;
   gap: 2.5vw 2.5vw;
   margin: 20px 0;
   padding: 2vw 2vw;
   align-items: center;
   justify-content: center;

 }

 .browse-provider-card {

   border: 1.5px solid #468585;
   padding: 20px;
   border-radius: 8px;
   height: 20vw;
   width: 25vw;
   display: flex;
   flex-direction: column;
   gap: 10px;

 }

 .provider-img {
   height: 50%;
   width: 50%;
   border-radius: 5px;
 }






 /* Pagination Controls */
 .pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
   font-size: 1rem;
   color: #777;
 }

 .pagination a {
   padding: 10px 15px;
   color: #5bc0de;
   text-decoration: none;
   border: 1px solid #ddd;
   border-radius: 8px;
   margin: 0 5px;
 }

 .pagination a:hover {
   background-color: #f0f0f0;
 }



 /* Browse-providers css ends here */

 /* Specific Profile Page CSS starts here */

 .view-profile-section {

   display: flex;
   padding: 40px 70px;
   height: 120vh;
   gap: 30px;


 }

 .view-profile-left-panel {

   height: 100%;
   width: 30%;
   border-width: 0px 1px 0px 0px;
   border-color: black;
   border-style: dashed;
   /* border: 1px solid pink; */
   display: flex;
   flex-direction: column;
   gap: 15px;
   padding-left: 20px;
   align-items: center;

 }

 .view-provider-image {
   width: 60%;

   border-radius: 8px;
   margin-right: 20px;
   height: 30%;

 }

 .view-provider-image img {

   width: 100%;
   height: 100%;
   border-radius: 10px;

 }

 .view-profile-name {

   font-size: 2vw;
   font-weight: 500;
 }


 .request-service-btn {

   padding: 0.5vw 1.5vw;
   border: none;
   background-color: #54A6A6;
   color: white;
   font-size: 1.1vw;
   font-weight: 300;
   border-radius: 5px;
   margin-top: -1.5vw;
   cursor: pointer;

 }


 .view-profile-details-section {

   width: 60vw;
   display: flex;
   flex-wrap: wrap;
   gap: 2vw;

 }





 .view-profile-detail-cont {

   display: flex;
   border: 2px solid #468585;
   align-items: center;
   padding: 0.5vw 2vw;
   border-radius: 5px;
   width: 100%;
   justify-content: space-between;

 }





 .profile-detail-text {

   font-size: 1.5vw;
 }

 .view-profile-detail-cont span {

   color: rgb(0, 0, 0, 0.6);
   font-size: 1.3vw;
 }


 .license-certification-show-card {

   width: 100%;
   border: 2px solid #468585;
   display: flex;
   flex-direction: column;
   border-radius: 10px;

 }

 .license-certification-show-card .top {

   background-color: rgb(70, 133, 133, 1);
   border-radius: 10px 10px 0px 0px;
   padding: 0.2vw 1vw;
   width: 100%;

 }

 .license-certification-show-card .top p {

   font-size: 1.5vw;
   color: white;

 }

 .license-certification-show-card .bottom {

   display: flex;
   flex-direction: column;
   padding: 1vw;


 }

 .license-certification-show-card .bottom p {

   font-size: 1.3vw;
 }


 /* Specific Profile Page CSS ends here */
 /* Find Jobs Page css starts Here */


 .container {

   margin-top: 5vh;
 }


 .job-card-container {
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   align-items: center;
   padding: 50px;
   gap: 30px;

 }

 /* Job Cards */
 .job-card {
   border: 0.3px solid rgb(0, 0, 0, 0.1);
   border-radius: 8px;
   padding: 2vw;
   margin-bottom: 2vw;
   background-color: #fff;
   width: 80%;
   overflow: hidden;
   transition: height 0.3s ease;
   /* Initially only show a portion */
   height: auto;
   max-height: 25vw;
   /* Adjust as needed */
   position: relative;
 }

 .job-card.expanded {
   max-height: none;
   /* When expanded, remove height restriction */
 }

 .hidden-content {
   display: none;
 }

 .hidden-content.expanded {
   display: block;
 }

 .job-card-top {

   display: flex;
   justify-content: space-between;
   align-items: center;

 }

 .job-card-top h3 {

   font-size: 2vw;
   font-weight: 500;
   color: rgb(0, 0, 0, 0.7);
 }

 .job-card-top .place-bid-button {
   background-color: transparent;
   border: 1px solid #468585;
   color: #468585;
   padding: 1vw 1.5vw;
   border-radius: 5px;
   font-size: 0.8rem;
   cursor: pointer;
   height: 2vw;
   display: flex;
   align-items: center;
   justify-content: center;

 }

 .job-card-top .place-bid-button:hover {

   background-color: #468585;
   color: #fff;

 }


 .job-card-mid {

   display: flex;
   align-items: center;

 }


 .job-card-mid .badge-new {

   background-color: #50B498;
   color: #fff;
   padding: 0px 25px;
   border-radius: 20px;
   margin-right: 10px;

 }

 .job-card-mid .time-posted {

   color: #888;
   font-size: 1rem;

 }

 .job-description {


   margin-top: 10px;
   font-size: 1.2vw;
   color: #444;

 }



 .job-card .job-details {

   display: flex;
   gap: 5px;
   align-items: center;
   justify-content: center;
   width: fit-content;
   padding: 10px;

 }

 .job-card .job-images-cont {

   display: flex;
   gap: 5px;
   align-items: flex-start;
   justify-content: center;
   width: fit-content;
   padding: 10px;
 }

 .job-card .job-details img {

   width: 1.5vw;
   height: 1.5vw;
   opacity: 0.75;
   margin: auto;
   
 }

 .job-card .job-details strong {

   font-size: 1.3vmax;
   color: rgb(0, 0, 0, 0.75);


 }

 .job-card .job-details span {

   font-size: 1.1vmax;
   color: rgb(0, 0, 0);
   background-color: rgb(217, 217, 217, 0.5);
   padding: 0px 20px;
   border-radius: 20px;

 }

 .job-card .job-images-cont img {

   width: 20px;
   height: 20px;
   opacity: 0.75;
   margin-top: 5px;

 }

 .job-card .job-images-cont strong {

   font-size: 1.3vmax;
   color: rgb(0, 0, 0, 0.75);


 }

 .job-card .job-images-cont span {

   font-size: 1.1vmax;
   color: rgb(0, 0, 0);
   background-color: rgb(217, 217, 217, 0.5);
   padding: 0px 20px;
   border-radius: 20px;

 }



 .job-card .job-images-cont .job-images {

   width: 200px;
   height: 150px;
 }

 .job-card .learn-more-job-button {

   color: #468585;
   font-size: 1rem;
   text-decoration: none;
   background-color: transparent;
   display: flex;
   align-items: center;
   margin-top: 10px;
   border: none;
   cursor: pointer;
 }

 .job-card .learn-more-job-button img {

   width: 10px;
   height: 20px;
   margin-top: 10px;


 }

 .job-card .learn-less-job-button {

   color: #468585;
   font-size: 1rem;
   text-decoration: none;
   background-color: transparent;
   display: flex;
   align-items: center;
   margin-top: 10px;
   border: none;
   cursor: pointer;

 }

 .job-card .learn-less-job-button img {

   width: 10px;
   height: 20px;
   margin-top: -7px;


 }

 .job-card .additional-info {

   margin-top: 10px;
   font-size: 0.9rem;
   color: #444;

 }



 .job-card img {

   width: 100px;
   height: 100px;
   border-radius: 8px;
   margin-top: 10px;

 }

 #add-bid-form-cont {

   /* display: none; Initially hidden */
   display: none;
   position: fixed;
   /* Fixed position to center it relative to the viewport */
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   border-radius: 10px;
   background-color: rgb(0, 0, 0, 0.6);
   top: 0;
   /* transform: translate(-50%, -50%); Offset by 50% to truly center */
   z-index: 1000;
   /* Ensure it's above other content */


 }

 #view-bids-cont {

   /* display: none; Initially hidden */
   display: none;
   position: fixed;
   /* Fixed position to center it relative to the viewport */
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   border-radius: 10px;
   background-color: rgb(0, 0, 0, 0.6);
   top: 0;
   /* transform: translate(-50%, -50%); Offset by 50% to truly center */
   z-index: 1000;
   /* Ensure it's above other content */


 }



 #add-bid-form {
   display: flex;
   position: relative;
   flex-direction: column;
   width: 70vw;
   height: 30vw;
   border-radius: 10px;
   padding: 1vw;
   gap: 1vw;
   background-color: rgb(255, 255, 255);
   z-index: 1000;
   /* Ensure it's above other content */

 }


 #view-bid-form {
   display: flex;
   position: relative;
   flex-direction: column;
   width: 80vw;
   height: 40vw;
   border-radius: 10px;
   /* padding: 1vw; */
   gap: 1vw;
   background-color: rgb(255, 255, 255);
   z-index: 1000;
   /* Ensure it's above other content */

 }

 #view-bid-form .top{

  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
  padding-right: 1vw;
  
 }

 #close-bid-form {
   
   font-size: 1.5rem;
   cursor: pointer;
 }

 #bid-job-name {

   margin-bottom: 10px;
   font-size: 2.5vw;
   font-weight: 500;
   /* border: 1px solid red; */
   width: fit-content;
   /* position: absolute; */
   padding: 0 1vw;
   background-color: rgb(70, 133, 133, 0.8);
   border-radius: 10px 0px 10px 0px;
   color: white;

 }

 #view-bid-form .bid-content{

  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 1vw;
  overflow-y: scroll;

 }

 .bid-card{

  border: 1px solid #008b8b;
  padding: 1vw;
  border-radius: 10px;
  font-size: 1.5vw;

 }

 .bid-info{

  display: flex;
  gap: 20px;

  }

.info-title{

  color: rgb(0, 0, 0,0.5);

}

 .bid-price {

   display: flex;
   gap: 10px;
 }

 .bid-card-bottom{

   display: flex;
   gap: 10px;
   justify-content: center;
   align-items: center;

 }

 .bid-card-bottom .bid-button{

   font-size: 1.5vw;
   /* background-color: #008b8b; */
   color: white;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   padding: 0 10px;
   font-size: 1.2vw;
 }

 #viewBidProfile{

  border: 1px solid rgb(70, 133, 133, 0.8);
  color: rgb(70, 133, 133, 0.8) ;
 }

 .acceptBidButton{

  background-color: rgb(70, 133, 133, 0.8);
  
 }

 .bid-price p {

   font-size: 1.5vw;

 }

 .bid-price input {

   border: 1px solid #006666;
   border-radius: 5px;
   width: 20vw;
   padding: 5px;

 }

 .bid-price input:hover {

   border: 1px solid #006666;
   outline: none;
 }

 #bidDescription {
   height: 14vw;
   border-radius: 10px;
   padding: 10px;
   border: 1px solid #006666;
   font-size: 1.2vw;


 }


 #bidDescription:hover {

   border: 1px solid #006666;
 }

 #add-bid-form input[type=submit] {
   background-color: #54A6A6;
   color: #fff;
   border: none;
   border-radius: 8px;
   padding: 5px 20px;
   cursor: pointer;
   font-size: 1.2rem;
   width: fit-content;
   margin: auto;
 }

 #add-bid-form input[type=submit]:hover {

   background-color: rgb(84, 166, 166, 0.9);

 }

 /* Load More Button */
 .load-more-jobs {

   display: block;
   margin: 0px auto;
   padding: 10px 20px;
   background-color: #54A6A6;
   color: #fff;
   border: none;
   border-radius: 8px;
   font-size: 1.2rem;
   cursor: pointer;
   text-align: center;

 }

 .load-more-jobs:hover {

   background-color: rgb(84, 166, 166, 0.9);

 }



 /* Footer */
 footer {

   text-align: center;
   margin-top: 30vh;
   display: flex;
   height: 35vh;
   flex-direction: column;
   align-items: center;


 }

 .footer-content {

   width: 98%;
   height: 85%;
   justify-content: space-between;
   display: flex;
   border-top: 1px solid black;

 }

 .footer-upper-left {

   padding: 30px;
   display: flex;
   flex-direction: column;
   gap: 15px;

 }



 .footer-logo {

   width: 140px;
   height: 35px;

 }

 .footer-logo img {

   width: 100%;
   height: 100%;
 }

 .footer-upper-left p {

   font-size: 1.7vw;
   color: rgb(0, 0, 0, 0.75);
   width: 70%;
   text-align: start;
   line-height: 1;
   font-weight: 800;


 }

 .footer-upper-left p span {
   color: #468585;


 }

 .footer-upper-right {

   /* border: 1px solid blue; */
   width: 35%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: start;
   padding: 20px 30px 40px 30px;
   gap: 5px;

 }

 .footer-upper-right a {

   font-size: 1.4vw;

 }

 .footer-upper-right a:hover {

   transform: scale(1.05);
 }


 .footer-legal {

   display: flex;
   height: 15%;
   width: 100%;
   justify-content: space-between;
   background-color: rgb(80, 180, 152, 0.6);
   padding: 0 50px;
   align-items: center;
   color: white;
   font-size: large;

 }

 .footer-bottom-right {

   display: flex;
   gap: 20px;

 }

 .footer-bottom-right a:hover {

   transform: scale(1.03);


 }

 .login-register-section {

   width: 100%;
   height: 100vh;
   position: absolute;
   top: 0;
   display: none;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: rgb(245, 245, 245, 0.4);


 }


 #login-cont,
 #register-seeker-cont,
 #register-provider-cont {

   display: none;
 }


 .log-reg-cont {

   border: 0.2px solid rgb(0, 0, 0, 0.3);
   width: fit-content;
   height: fit-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 50px;
   gap: 20px;
   border-radius: 5px;
   background-color: white;
   position: relative;

 }


 .close-log-reg-button {

   background-color: rgb(70, 133, 133, 0.75);
   border-radius: 50%;
   width: 30px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: -20px;
   right: -30px;
   cursor: pointer;
 }

 .close-log-reg-button img {

   width: 70%;
   height: 70%;
 }



 .log-reg-heading {

   font-size: 1.5vw;
   color: rgb(0, 0, 0, 0.6);
   font-weight: 800;
   margin-bottom: 10px;
   font-family: "Outfit", sans-serif;
   font-weight: 600;

 }

 .choose-user-button {

   width: 300px;
   height: 50px;
   border: none;
   background-color: rgb(70, 133, 133, 0.75);
   border-radius: 5px;
   color: white;
   font-size: 1vw;
   cursor: pointer;

 }

 .submit-button {

   background-color: rgb(70, 133, 133, 0.75);
   color: white;
   border: none;
   border-radius: 5px;
   padding: 5px 20px;
   font-size: 1vw;
   cursor: pointer;
 }

 .submit-button:hover {

   transform: scale(1.02);
 }

 .log-reg-input {

   width: 300px;
   height: 50px;
   border: 1px solid #468585;
   padding: 10px;
   display: flex;
   justify-content: space-between;
   border-radius: 5px;

 }

 .log-reg-input input {

   width: 75%;
   height: 100%;
   padding: 0;
   border: none;
   outline: none;
   font-family: "NTR", sans-serif;


 }

 #login-otp::-webkit-inner-spin-button,
 #login-otp::-webkit-outer-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }

 .opt-button {

   color: #468585;
 }

 /* Find Jobs Page css ends Here */

 .update-profile-modal {
   width: 70%;
   background-color: white;
   border-radius: 8px;
   /* padding: 20px; */
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   border: 0.5px solid rgba(15, 5, 5, 0.2);
   position: absolute;
   top: 10vh;
   left: 15%;
   display: none;
   z-index: 1000;
   min-width: fit-content;
   max-height: 85vh;
   overflow-y: scroll;


 }


 .update-profile-modal::-webkit-scrollbar {


   display: none;

 }

 .modal-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #ddd;
   background-color: rgb(0, 139, 139, 0.7);
   border-radius: 8px 8px 0px 0px;
   padding: 0px 15px;
   color: white;

 }

 .modal-header h2 {
   margin: 0;
   font-weight: 500;

 }

 .close-btn {
   cursor: pointer;
   font-size: 3vw;
 }

 .update-form {

   max-width: 100%;
   padding: 20px;

 }

 .update-form form {

   padding: 20px;
   /* border: 1px solid red; */

 }




 .update-form h3 {

   color: #008b8b;
   border-bottom: 1px solid #ddd;
   padding-bottom: 5px;
   margin-bottom: 10px;
 }

 .form-row {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
 }

 .form-group {
   flex: 1;
   margin-right: 10px;
 }

 .form-group label {
   display: block;
   margin-bottom: 5px;
 }

 .form-group input[type="text"],
 .form-group input[type="email"],
 .form-group input[type="date"] {
   width: 100%;
   padding: 8px;
   border: 1px solid #ddd;
   border-radius: 4px;
 }

 .form-group button.upload-btn {
   background-color: #008b8b;
   color: white;
   border: none;
   padding: 8px 12px;
   border-radius: 4px;
   cursor: pointer;
 }

 input.submit-btn {
   background-color: #50B498;
   color: white;
   border: none;
   padding: 10px 15px;
   border-radius: 4px;
   cursor: pointer;
   display: block;
   width: 20%;
   margin: 40px auto;
 }

 button.submit-btn {
   background-color: #50B498;
   color: white;
   border: none;
   padding: 10px 15px;
   border-radius: 4px;
   cursor: pointer;
   display: block;
   width: 20%;
   margin: 40px auto;
 }

 button.submit-btn:hover,
 button.upload-btn:hover {
   background-color: #006666;
 }




 /* Update Profile Section css Sst */