<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BidAuc</title>
  <link rel="stylesheet" href="../static/CSS/style.css">
  <script src="../static/JS/common-script.js"></script>
  <script src="../static/JS/login-register.js"></script>
  <script src="../static/JS/categoryLoad.js"></script>


</head>
<body>

  <!-- Header Section starts here -->
  <header>
    <!-- Dash-Login Menu starts here -->

    <div id="dash-login-menu">
      <a href="http://localhost:5000/dashboard/dashboard-overview" id="dashboard-button">Dashboard</a>
      <hr style="width: 100%; height:1px;
     background-color: white;">
      <a href="" id="login-popup-open">Login</a>
      <hr style="width: 100%; height:1px;
     background-color: white;">
      <a href="" id="logout-btn">Logout</a>
    </div>

    <!-- Dash-Login Menu ends here -->
<div class="navbar">
      <div class="logo">
        <img src="../static/Assets/Images/BidAuc-logo.png" alt="BidAuc Logo">
      </div>
      <div class="location-dropdown">
        <img src="../static/Assets/Images/location-icon.png" alt="" class="location-icon">
        <select>L
          <option>User's Location</option>
        </select>
      </div>
      <nav>
        <a href="../Templates/home.html">Home</a>
        <a href="#">About us</a>
      </nav>
      <div class="profile-icon" id="profile-button">
        <img src="../static/Assets/Images/user-icon.png" alt="Profile Icon">
      </div>
    </div>
  </header>
  <!-- Header Section ends here -->


  <!-- Browse Categories Section -->
  <section class="browse-categories">
    <div class="search-container">
      <h1>Browse Categories</h1>

          <div class="search-bar">
              <input type="text" placeholder="Search Categories">
              <img src="../static/Assets/Images/search-icon.png" alt="">
              
          </div>
          <div class="sort-options">
              <span>Sort by</span>
              <img src="../static/Assets/Images/sort-icon.png" alt="Sort">
          </div>
          
      </div>
    <div class="categories" id="categories-cont">
      <!-- blocks for categories -->
    </div>

    <div class="pagination">
      <a href="#">&lt;</a>
      <span>1/2</span>
      <a href="#">&gt;</a>
  </div>
  </section>

  <!-- Top Providers Section -->
  <section class="top-providers">

    <div class="featured-categories-top">

      <h2 class="heading1">Top Providers</h2>
      <a class="explore-providers-button button1" href="../Templates/browse-providers.html">Explore more Providers</a>

    </div>

    <div class="providers-cont">

      <div class="provider">

        <div class="provider-details-left">
          <img src="../static/Assets/Images/electrical-work-profile.jpg" alt="Provider 1">

          <h3 class="provider-name">Harshal Electrical works</h3>


          <div class="providers-left-bottom">
            <button class="view-profile-btn">View Profile</button>
            <div class="rating">
              <img src="../static/Assets/Images/star-icon.png" alt="">
              <p>4.5</p>
              <span class="service-rating-p">service rating</span>
            </div>
          </div>


        </div>

        <div class="provider-details-right">
          <p><strong>Service Categories:</strong> Electrical works</p>
          <p><strong>Experience:</strong> 5 Years</p>
          <p><strong>Licenses:</strong> State Board of Electrical works</p>

        </div>

      </div>
      <div class="provider">

        <div class="provider-details-left">
          <img src="../static/Assets/Images/plumbing-work-profle.jpeg" alt="Provider 1">

          <h3 class="provider-name">Pratik Plumbing Works</h3>
          <div class="providers-left-bottom">
            <button class="view-profile-btn">View Profile</button>
            <div class="rating">
              <img src="../static/Assets/Images/star-icon.png" alt="">
              <p>4.5</p>
              <span class="service-rating-p">service rating</span>
            </div>
          </div>
        </div>
        <div class="provider-details-right">

          <p><strong>Service Categories:</strong> Electrical works</p>
          <p><strong>Experience:</strong> 5 Years</p>
          <p><strong>Licenses:</strong> State Board of Electrical works</p>

        </div>

      </div>
      <div class="provider">

        <div class="provider-details-left">
          <img src="../static/Assets/Images/plumbing-work-profle.jpeg" alt="Provider 1">

          <h3 class="provider-name">Pratik Plumbing Works</h3>
          <div class="providers-left-bottom">
            <button class="view-profile-btn">View Profile</button>
            <div class="rating">
              <img src="../static/Assets/Images/star-icon.png" alt="">
              <p>4.5</p>
              <span class="service-rating-p">service rating</span>
            </div>
          </div>
        </div>
        <div class="provider-details-right">

          <p><strong>Service Categories:</strong> Electrical works</p>
          <p><strong>Experience:</strong> 5 Years</p>
          <p><strong>Licenses:</strong> State Board of Electrical works</p>

        </div>

      </div>

    </div>

    <!-- Additional provider entries... -->
  </section>

  <!-- Footer starts here -->
  <footer>
    <div class="footer-content">
      <div class="footer-upper-left">
        <div class="footer-logo">
          <img src="../static/Assets/Images/BidAuc-logo.png" alt="Footer Logo">
        </div>
        <p>Connecting those in <span>need </span> with those who <span> deliver </span></p>

      </div>
      <div class="footer-upper-right">
        
          <a href="../Templates/browse-categories.html">Find a service</a>
          <a href="../Templates/browse-providers.html">Browse Providers</a>
          <a href="../Templates/browse-categories.html">Browse Categories</a>
          <a href="../Templates/browse-categories.html">Post Jobs</a>
          <a href="../Templates/find-jobs.html">Become a Provider</a>
          <a href="../Templates/find-jobs.html">Browse Jobs</a>
       
      </div>
    </div>
    <div class="footer-legal">
      <p>&copy; 2024 BidAuc.com All rights reserved</p>

      <div class="footer-bottom-right">
        <a href="#">Terms of Service</a>
        <a href="#">Privacy</a>
      </div>
    </div>
  </footer>
   <!-- Footer Ends Here -->

 

    <!-- Login And Register Section Starts here -->

    <div class="login-register-section" id="login-register-section">


      <div class="common-cont log-reg-cont" id="choose-reg-cont">
  
        <div class="close-log-reg-button" target="choose-reg-cont">
          <img src="../../Assets/Images/close-icon.png" alt="">
        </div>
  
        <h3 class="log-reg-heading">
          Register As
        </h3>
  
        <button class="choose-user-button" id="seeker-register-btn">Service Seeker</button>
        <button class="choose-user-button" id="provider-register-btn">Service Provider</button>
  
        <p>Already have an Account?</p>
  
        <button id="login-button" class="submit-button">Login</button>
      </div>
      
      <div class="login-cont log-reg-cont" id="login-cont" >
  
        <div class="close-log-reg-button" target="login-cont">
          <img src="../../Assets/Images/close-icon.png" alt="">
        </div>
  
        <h3 class="log-reg-heading">
          Log in
        </h3>
  
        <div class="log-reg-input ">
          <input type="tel"  id="login-phone" placeholder="Your Phone">
          <a href="" id="verify-phone-button" class="opt-button">send opt</a>
        </div>
        
        <div class="log-reg-input">
          <input type="number"  id="login-otp" placeholder="Enter OTP">
          <a href="" id="resend-otp-button" class="opt-button">resend opt</a>
        </div>
  
        <button id="login-button" class="submit-button">Login</button>
  
  
        
  
      </div>
  
      <div class=" log-reg-cont" id="register-provider-cont">
  
        <div class="close-log-reg-button" target="register-provider-cont">
          <img src="../../Assets/Images/close-icon.png" alt="">
        </div>
        
  
        <h3 class="log-reg-heading" style="font-size: 1.2vw;">
          Register as Service Provider
        </h3>
  
        <div class="log-reg-input">
          <input type="text"  id="register-name" placeholder="Your Name" >
        </div>
  
        <div class="log-reg-input">
          <input type="tel"  id="login-phone" placeholder="Your Phone">
          <a href="" id="verify-phone-button" class="opt-button">send opt</a>
        </div>
        
        <div class="log-reg-input">
          <input type="number"  id="login-otp" placeholder="Enter OTP" >
          <a href="" id="resend-otp-button" class="opt-button">resend opt</a>
         
        </div>
        <button id="login-button" class="submit-button">Submit</button>
  
  
        
  
  
      </div>
  
      <div class=" log-reg-cont" id="register-seeker-cont">
  
        <div class="close-log-reg-button" target="register-seeker-cont">
          <img src="../../Assets/Images/close-icon.png" alt="">
        </div>
  
        <h3 class="log-reg-heading" style="font-size: 1.2vw;">
          Register as Service Seeker
        </h3>
  
        <div class="log-reg-input">
          <input type="text"  id="register-name" placeholder="Your Name" >
         
        </div>
        <div class="log-reg-input">
          <input type="tel"  id="login-phone" placeholder="Your Phone" >
          <a href="" id="verify-phone-button" class="opt-button">send opt</a>
        </div>
        
        <div class="log-reg-input">
          <input type="number"  id="login-otp" placeholder="Enter OTP" >
          <a href="" id="resend-otp-button" class="opt-button">resend opt</a>
         
        </div>
  
        <button id="login-button" class="submit-button">Submit</button>
  
  
  
      </div>
  
  
  
      
  
  
    </div>
  
    <!-- Login and Register Section ends here -->
</body>
</html>
