<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BidAuc</title>
    <link rel="stylesheet" href="./CSS/style.css">
</head>
<body>

    <nav class="navbar">
        <img src="../Assets/Images/BidAuc-logo.png" alt="" class="logo">

        <div class="location-cont">
            <img src="../Assets/Images/location-icon.png" alt="" class="location-icon">
            <p id="location-text">USer's Location</p>
            <img src="../Assets/Images/dropdown-icon.png" alt="" class="dropdown-icon">
        </div>

        <ul class="nav-btn-list">

            <li><a href="./home.html">Home</a></li>
            <li><a href="./about.html">About</a></li>

        </ul>
    </nav>

    
</body>
</html>